<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1sKgaFhixzCdnLTlT-CX2EDQqBOg0vFo</string>
	<key>GCM_SENDER_ID</key>
	<string>339922420964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wastewisee.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>workshop-2-26086</string>
	<key>STORAGE_BUCKET</key>
	<string>workshop-2-26086.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339922420964:ios:c94b15508c531aa48e18f1</string>
	<key>DATABASE_URL</key>
	<string>https://workshop-2-26086-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>